*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Lato', sans-serif;
    background: #653BF4;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    margin: 15px;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}


/* FAQ Section Style */
.faq-box{
    max-width: 600px;
    width: 100%;
    margin:0 auto;
}
.faq-title{
    font-size:25px;
    font-weight: 600;
    padding: 50px 0;
    text-align: center;
    color: #f3f3f3;
}
.faq-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    background: #552DDB;
}
.faq-header h3, .icon{
    font-size: 20px;
    color: #e6e5e5;
}

.faq-header .icon {
    font-size: 25px;
}
.faq-body{
    width: 100%;
    padding:10px 20px;
    cursor: pointer;
    text-transform: capitalize;
    background: #6640e5;
}
.faq-body p{
    font-size: 16px;
    color: #e6e5e5;
    line-height: 25px;
    text-align:left;
}